<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <clear/>
    <!-- Aliases -->
    <alias alias="IUserTransaction" type="SharedLibrary.IUserTransaction, SharedLibrary"/>
    <alias alias="UserTransaction" type="UserCRUDTransaction.UserTransaction, UserCRUDTransaction"/>
    

    <!-- Type registration -->
    <container>
      <register type="IUserTransaction" mapTo="UserTransaction">
        <lifetime type="singleton"/>
      </register>
   
    </container>
  </unity>
</configuration>